/* .movies{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1%;
} */
.image-container{
    /* width: 90%; */
    overflow: hidden;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 50px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1%;
}

/* Carosel */

